youtube_transcript_api
spacy==2.3.5
pyresparser
streamlit>=1.0
spacy_streamlit
wordcloud
numpy
nltk
scikit-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
