youtube_transcript_api
spacy==2.3.5
pyresparser
streamlit
spacy_streamlit
wordcloud
numpy
nltk
scikit-learn>=1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
